@using AnimalCrossingTeam.Core.Models
@model Insecte
@{
    ViewData["Title"] = Model is null ? "Insecte non trouvé" : Model.Nom;
}

@if (Model is null)
{
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p>L'insecte recherché n'a pas été trouvé.</p>
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4"><img src="~/img/insectes/@(Model.Numero).png" width="70" />&nbsp;@ViewData["Title"]</h1>
        <p>Insecte n°@Model.Numero</p>
    </div>

    <dt>Mois</dt>
    <dd>
        <table class="table" style="text-align:center;">
            <tr>
                <td>Janvier</td>
                <td>Fevrier</td>
                <td>Mars</td>
                <td>Avril</td>
                <td>Mai</td>
                <td>Juin</td>
                <td>Juillet</td>
                <td>Aout</td>
                <td>Septembre</td>
                <td>Octobre</td>
                <td>Novembre</td>
                <td>Decembre</td>
            </tr>
            <tr>
                <td>
                    @if (Model.Janvier)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Fevrier)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Mars)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Avril)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Mai)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Juin)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Juillet)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Aout)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Septembre)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Octobre)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Novembre)
                    {<i class='fa fa-check'></i>}
                </td>
                <td>
                    @if (Model.Decembre)
                    {<i class='fa fa-check'></i>}
                </td>
            </tr>
        </table>
    </dd>
    <dt>Heures</dt>
    <dd>@Model.AffichageHeures</dd>
    <dt>Localisation</dt>
    <dd>@Model.Localisation</dd>
    <dt>Meteo</dt>
    <dd>@Model.Meteo</dd>
    <dt>Prix</dt>
    <dd>@Model.Prix</dd>
}
